<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home - Dating App</title>
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
  </head>
  <body>
    <h1>Welcome to the Dating App!</h1>
    <p>You are logged in.</p>
    <button id="logout-button">Logout</button>
    <br>
    <br>
    <button id="email-verification-button">Verify Email</button>
    <button id="profile-setup-button">Profile Setup</button>
    <button id="onboarding-button">Onboarding</button>
    <button id="security-measures-button">Security Measures</button>
    <script src="./js/home.js"></script>
  </body>
</html>