<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Profile Setup - Dating App</title>
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
  </head>
  <body>
    <h1>Profile Setup</h1>
    <form id="profile-setup-form">
      <label for="first-name">First Name:</label>
      <input type="text" id="first-name" name="first-name"><br>

      <label for="last-name">Last Name:</label>
      <input type="text" id="last-name" name="last-name"><br>

      <label for="gender">Gender:</label>
      <select id="gender" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select><br>

      <label for="birthday">Birthday:</label>
      <input type="date" id="birthday" name="birthday"><br>

      <label for="city">City:</label>
      <input type="text" id="city" name="city"><br>

      <label for="state">State:</label>
      <input type="text" id="state" name="state"><br>

      <label for="country">Country:</label>
      <input type="text" id="country" name="country"><br>

      <button type="submit">Save</button>
    </form>
    <script src="../public/js/profile_setup.js"></script>
  </body>
</html>
