<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Profile - Dating App</title>
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
</head>

<body>
    <form id="profile-setup-form">
        <h1>Profile</h1>
        <div>
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name" name="first-name" value="" disabled><br>
        </div>
        <div>
            <label for="last-name">Last Name:</label>
            <input type="text" id="last-name" name="last-name" value="" disabled><br>

        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="" disabled><br>
        </div>
        <div>

            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div>
            <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" name="birthday">
        </div>
        <div>
            <label for="state">State:</label>
            <input type="text" id="state" name="state" required onkeyup="suggestState()">
            <ul id="state-suggestions"></ul>
        </div>
        <div>

            <label for="sexual-orientation">Sexual Orientation:</label>
            <select id="sexual-orientation" name="sexual-orientation">
                <option value="Straight">Straight</option>
                <option value="Heterosexual">Heterosexual</option>
                <option value="Bisexual">Bisexual</option>
                <option value="Pansexual">Pansexual</option>
                <!-- Add more options as required -->
            </select>
        </div>
        <div>
            <label for="profile-picture">Profile Picture:</label>
            <img id="profile-picture" src="" alt="">
            <button id="change-profile-picture">Change profile picture</button>
            <input type="file" id="profile-picture-input" style="display: none;">
        </div>

        <div>
            <label for="photo-gallery">Photo Gallery:</label>
            <div id="photo-gallery"></div>
            <button id="add-photo">Add new photo</button>
            <button id="delete-photo">Delete selected photo(s)</button>
        </div>
        <div>
            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio" required></textarea>
        </div>
        <div>
            <label for="interests">Interests:</label>
            <textarea type="text" id="interests" name="interests"></textarea>
        </div>
        <button type="submit" class="btn-primary">Save Profile</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script src="./js/profile_setup.js"></script>
    <script src="./js/states_name.js"></script>

</body>

</html>